In [60]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model

In [61]:
df = pd.read_csv("Data/homeprices.csv")

In [62]:
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [63]:
import math
median_of_bedrooms = math.floor(df.bedrooms.median())
median_of_bedrooms

3

In [64]:
df = df.fillna(median_of_bedrooms)

In [65]:
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       3.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [66]:
reg = linear_model.LinearRegression()

In [67]:
x_train = df[['area', 'bedrooms', 'age']]
y_train = df.price

In [68]:
reg.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [69]:
reg.coef_

array([   137.25, -26025.  ,  -6825.  ])

In [70]:
reg.intercept_

383724.9999999998

In [71]:
reg.predict([[3000, 4, 15]])

array([589000.])

In [72]:
reg.score(x_train, y_train)

0.9488817891373804